// Add your own custom styles here

@media (min-width: 1280px) {
    .section {
        padding-top: 1rem;
        padding-bottom: 7rem;
      }
}

@media (min-width: 280px) {
    .section {
        padding-top: 1rem;
        padding-bottom: 7rem;
    }
}


// a,
// a:hover {
//   color: rgb(14, 36, 14);
// }

// .content :is(:where(a):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
//   --tw-text-opacity: 1;
//   font-weight: 800;
//   color: rgb(25, 125, 25);
//   text-decoration-line: underline;
// }

.content :is(:where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    border-radius: 0.5rem;
    border-width: 1px;
    border-left-width: 10px;
    --tw-border-opacity: 0.5;
    --tw-bg-opacity: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: Signika, sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-style: normal;
    --tw-text-opacity: 1;
    border-radius: 12px;
  }
  
  .prev-next-link {
    margin-bottom: 2em;
  }


  // .btn {
  //   color: #ffffff !important
  // }  

  .btn-small {
    @apply border-primary bg-primary dark:border-darkmode-primary dark:text-dark text-white dark:bg-white rounded-sm px-4 py-1.5 text-sm;
  }

  .btn-primary:is(.dark *) {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: #ffffff;
    --tw-text-opacity: 1;
    color: #000000 !important;
}
  

.content{
  font-size: 1.3rem;
}


// .content :is(:where(a):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
//   --tw-text-opacity: 1;
//   color: #49a10e;
//   text-decoration-line: underline;
//   font-weight: 800;
// }

// .content img {
//   max-width: 89%;
//   margin-bottom: 1.5rem;
//   align-items: center;
//   height: auto;
//   display: inline-block;
// }


img[src$='#floatleft']
{
	float:left;
  margin-top: 0px;
        //etc. etc/
}

img[src$='#floatright'] {
  float: right;
  margin-top: auto;
  max-width: 50%;
}


figure.floatright {
	max-width: 30%;
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 30%;
	height: auto;
	float: left;
}

.float-figure {
  width: var(--width);
  float: var(--float);
  margin-left: 0.5em;
  margin-top: 0.1em;
  margin-bottom: auto;
  text-align: center;
}

.figcaption {
  caption-side: bottom;
  line-height: 0.9em;
  font-weight: 400;
  font-family: "Arial Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  font-size: 100%;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}


.content figure img {
    margin-bottom: 0.2rem;
}

// @media (min-width: 768px) {
//   h2, .h2 {
//       font-size: 2rem;
//   }
//   h3, .h3 {
//     font-size: 1.2rem !important;
//   }
//   h5, .h5 {
//     font-size: 1rem;
// }
// }


h1.h2.mb-4{
  font-size: 1.6em; 
}

.content :is(:where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  font-size: 1.2em; 
}

.content :is(:where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  font-size: 1em; 
}

.content :is(:where(h5):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  font-size: 0.8em; 
  font-weight: 400;
}