{{ define "main" }}
  <section class="section-sm pb-0">
    <div class="container">
      <div
        class="row border-border dark:border-darkmode-border justify-center border-b pb-14">
        <div class="lg:col-4 text-center">
          {{ $image:= .Params.image }}
          {{ if $image }}
            {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mx-auto" "Size" "200x200") }}
          {{ else if .Params.Email }}
            <img
              class="mx-auto"
              alt="{{ .Title }}"
              height="200"
              width="200"
              src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" />
          {{ end }}
          <h1 class="h3 mt-10">{{ .Title }}</h1>



          <div class="content mt-6">
            {{ $filterByAuthor := where site.RegularPages "Params.author" "==" .Title }}
              {{ range $filterByAuthor }}
              
            {{ if eq .Params.tt "2025-07-13T13:18:50Z" }}

            <li class="mr-4 inline-block">
              <i class="fa-regular fa-calendar mr-2"></i>
              {{ "TBC" }}
            </li>

            {{ else }}

            <li class="mr-4 inline-block">
              <i class="fa-regular fa-calendar mr-2"></i>
              {{ time.Format ":date_full" .Params.tt }}
            </li>

            {{ end }}

            {{ if in .Params.tt "13:18:50Z" }}

            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
              {{ "TBC" }}
            </li>

            {{ else }}

            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
              {{ time.Format ":time_short" .Params.tt }}
            </li>


            {{ end }}


            {{ end }}
            {{ .Content }}
          </div>

          <ul class="social-icons  text-center">
            {{ range .Params.social }}
              <li>
                <a
                  href="{{ .link | safeURL }}"
                  target="_blank"
                  rel="noopener nofollow">
                  <span class="sr-only">{{ .title }}</span>
                  <i class="{{ .icon }}"></i>
                </a>
              </li>
            {{ end }}
          </ul>

        </div>
      </div>

      <div class="flex justify-center pb-16 pt-14">
        {{ $filterByAuthor := where site.RegularPages "Params.author" "==" .Title }}
          {{ range $filterByAuthor }}
            <div class="w-full md:w-1/2 lg:w-1/3">
          {{ partial "components/blog-card" . }}
      </div>
      {{ end }}

</div>
    </div>
  </section>
{{ end }}
