{{ $src := .Get "src"}}
{{ $image := resources.Get $src }}

{{ $type_arr := split $image "." }}
{{ $srcbase := index $type_arr 0 }}
{{ $srctype := index $type_arr 1 }}

{{ $width := .Get "width" | default "50%" }}
{{ $caption := .Get "caption" | default "true" }}
{{ $float := .Get "float" | default "right" }}
{{ $class := .Get "class" | default "float-figure" }}
   

<figure class="{{ $class }}" style="--width: {{ $width }}; --float: {{ $float }};">

  {{ $src := .Get "src" }}
  {{/* Try to fetch the image as a page resource */}}
  {{ $image := resources.Get $src }}
  {{ if $image }}
      {{/* If found, it's an asset that can be processed */}}
      <img src="{{ $image.Permalink }}" alt="{{ .Get "caption" }}">
  {{ else }}
      {{/* Fallback to using absURL for static images */}}
      <img src="{{ $src | absURL }}" alt="{{ .Get "caption" }}">
  {{ end }}
{{ if eq $caption "true"}}

<figcaption class="figcaption">
   <p class="caption">{{.Get "alt" | markdownify }}
   </p>
</figcaption>

{{ end }}

</figure>